@import "./variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

html {
  font-size: $font-size-base;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}
